#chatroom {
    list-style: disc;
    padding: 5px;
}

.search {
    align-items: center;
    margin: auto;
}

#searchInput {
    width: 400px;
    height: 30px;
    margin: 10px;   
}

#roomPage {
    align-items: center;
}

.messages {
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    overflow:auto;
    border-style: solid;
    padding: 5px;
}

.trash {
    vertical-align: baseline;
    width: 30px;
    height: 30px;
    filter: opacity(20%);
    transition: 0.7s;
}

.trash:hover {
    filter: opacity(60%);
}

.edit {
    vertical-align: baseline;
    width: 30px;
    height: 30px;
    filter: opacity(20%);
    transition: 0.7s;
}

.edit:hover {
    filter: opacity(60%);
}

.header {
    display: flex;
}

#logout {
    position: absolute;
    right: 0;
    
    margin-right: 10px;
}

#warn {
    color: red;
}

.messageContainer {
    display: flex;
    min-width: 100%;
    min-height: 20px;
    max-height: 80px;
}

.message{
    color: black;
    display: inline-block;
    padding: 12px 17px 12px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 0px;
    max-width: 80%;
    justify-content: left;
    background: linear-gradient(rgb(243, 190, 200),#b6c5f1);
}

.username{
    color: #b6c5f1;
    font-size: 20px;
    font-weight: bold;
}

.messageDate{
    padding-top: 4px;
    font-size: 70%;
    text-align: center;
    color: gray
}




.inputBox {
    
    justify-content: center;
}

.rightChat{
    display:flex;
    margin-left: 100px;
}
.container {
    /* background font:srani; */
    background: linear-gradient(rgb(243, 190, 200),#b6c5f1);
      margin: 10px;
    padding: 100px;
    width:80%;
    padding-right:10px; 
    padding-left:10px; 
    margin-right:auto;
    border-radius: 12px;
    margin-left:auto;
    align-items: center;
    
    }

    

    .homeStyle{
        text-align: center;
        font-style: arial;  
        color: black;  
    }

    /*  */
#chatroom {
   list-style: disc;
    
    text-align:center;
}

#chatRoomPage {
    align-items: center;
    width:80%;
    border-radius: 30px;
    color:gainsboro;


}

#createRoom, #send {
    margin: 10px;
    padding: 30px;
    text-align: center;
    display: inline-flex;
  align-items: center; 
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-position: right center;
    background: linear-gradient(rgb(243, 190, 200),#b6c5f1);
    font-size: 15px;
   }
   

#welcomeMessage{
    display: flex;
    padding: 20px;
    
}

.messages {
    min-width: 1100px;
    min-height: 700px;
    max-height: 700px;
    justify-content: left;
    box-shadow: 15px 15px #b6c5f1;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    overflow:auto;
    /*  */
    
}

.messageContainer {
    display: flex;
    min-width: 50%;
    min-height: 20px;
    max-height: 80px;
    
       
}


.messageDate{
    padding-top: 4px;
    font-size: 70%;
    text-align: center;
    color: gray
}

#userInput, #nickname {
    min-width: 300px;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
}

#send{
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
}

.inputBox {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

/* Room CSS */
.chatRoomHead{
    text-align: center;


}
 
.roomContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    height: 600px;
    align-items: flex-start;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
 }

 .chat {
    width: 490px;
    float:left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    color: #434651;
 }

 .chatList {
    width:200px;
    float: left;
    font-size: 30px;
    color: white;
    background: linear-gradient(rgb(245, 206, 214),#acbdf1);
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    /* background-color: rgb(201, 232, 245); */
    margin-top: 119px;
    min-width: 300px;
    height: 700px;
    overflow:auto;
    /* margin-right:400px; */
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    box-shadow: 15px 15px rgb(245, 206, 214);
 }
    
    



/* room css end */


/* CHAT ROOM LIST CSS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  }
  
  li:last-child {
    list-style-type: none;
    border: none;
  }
  
  #chatrooms li a {
    list-style-type: none;
    text-decoration: none;
    color:black;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }
  
  li a:hover {
    font-size: 30px;
  }
 
  @media screen and (max-width: 1550px) {
    .chatList {
        min-width: 200px;
     }
  }
