<h1> REGISTER </h1>

{{#if err }}
   <h3> {{ err }} </h3>        
{{/if}}

<form action="/register" method="post">
    Email:
    <input id="userInput1" name="email" placeholder="Type something...">
    First Name:
    <input id="userInput2" name="first" placeholder="Type something...">
    Last Name:
    <input id="userInput3" name="last" placeholder="Type something...">
    Birthday:
    <input id="userInput4" name="birthday" placeholder="YYYY-MM-DD">
    Phone number:
    <input id="userInput5" name="phone" placeholder="Type something...">
    Password:
    <input id="userInput6" name="password" placeholder="Type something...">
    <button id="send" type="submit" >Send</button>
</form>

<a href="/login">Log In Here</a>