
.container {
    /* background font:srani; */
    background: linear-gradient(#c2cdee,rgb(245, 211, 216) );
    margin: 10px;
    padding: 100px;
    width:80%;
    padding-right:10px; 
    padding-left:10px; 
    margin-right:auto;
    margin-left:auto
  
    }


    .homeStyle{
        text-align: center;
        font-style: arial;  
        color: black;  
    }

    .buttonStyle{
        text-align: center;
    }

    /*  */
#chatroom {
   list-style: disc;
    
    text-align:center;
}

#roomPage {
    align-items: center;
}

.messages {
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    overflow:auto;
    border-style: solid;
    padding: 5px;
    /*  */
    
}

.messageContainer {
    display: flex;
    min-width: 100%;
    min-height: 20px;
    max-height: 80px;
}

.message{
    color: black;
}

.username{
    color: red;
}

.messageDate{
    padding-top: 4px;
    font-size: 70%;
    text-align: center;
    color: gray
}

#userInput, #nickname {
    min-width: 300px;
    padding: 10px;
    border-radius: 3px;
}

button {
    min-height: 36px;
    padding-top: 2px;
}

.inputBox {
    display:flex;
    justify-content: center;
}

/* Room CSS */
 
.roomContainer {
    /* background font:srani; */
    background: whitesmoke;
    margin: 10px;
    padding: 100px;
    width:80%;
    padding-right:10px; 
    padding-left:10px; 
    margin-right:auto;
    margin-left:auto
  
 }


.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
} 