#chatroom {
    list-style: disc;
    padding: 5px;
}

.roomPage {
    align-items: center;
    display:flex;
    
}


.trash {
    vertical-align: baseline;
    width: 30px;
    height: 30px;
    filter: opacity(20%);
    transition: 0.7s;
    display:none;
}

.trash:hover {
    filter: opacity(60%);
}


#warn {
    color: red;
}

.messageContainer {
    display: flex;
    min-width: 100%;
    min-height: 20px;
    max-height: 80px;
}

.message{
    color: black;
    display: inline-block;
    padding: 12px 17px 12px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 0px;
    max-width: 80%;
    justify-content: left;
    background: linear-gradient(rgb(243, 190, 200),#b6c5f1);
}

.username{
    color:black;
    font-style: bold;
    font-size: 20px;
    font-weight: bold;
}

.messageDate{
    padding-top: 4px;
    font-size: 70%;
    text-align: center;
    color: gray
}

.inputBox {
    
    justify-content: center;
}

.rightChat{
    display:flex;
    margin-left: 100px;
}

    /*  */
#chatroom {
   list-style: disc;
    
    text-align:center;
}

#chatRoomPage {
    align-items: center;
    width:80%;
    border-radius: 30px;
    color:gainsboro;
    

}

#createRoom, #send {
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: inline-flex;
  align-items: center; 
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-position: right center;
    background: linear-gradient(rgb(243, 190, 200),#b6c5f1);
    font-size: 15px;
   }
   

#welcomeMessage{
    display: flex;
    padding: 20px;
    
}

.hidescroll{
    overflow:hidden;
    border-style: solid;
    border-radius: 30px;
}

.messages {
    min-width: 1100px;
    min-height: 700px;
    max-height: 700px;
    justify-content: left;
    box-shadow: 15px 15px 40px 5px rgba(255, 255, 255, 0.5);
    
    padding: 20px;
    overflow:auto;
    background-color: rgba(255, 255, 255, 0.5);
    
}



.messageContainer {
    display: flex;
    min-width: 50%;
    min-height: 20px;
    max-height: 80px;
    
       
}


.messageDate{
    padding-top: 4px;
    font-size: 70%;
    text-align: center;
    color: gray
}

#userInput, #nickname {
    min-width: 300px;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
}

#send{
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
}

.inputBox {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

/* Room CSS */
.chatRoomHead{
    text-align: center;
}
 
.roomContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    height: 600px;
    align-items: flex-start;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
 }

 .chat {
    width: 490px;
    float:left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    color: #434651;
 }

 /* .chatList {
    width:200px;
    float: left;
    font-size: 30px;
    color: white;
    margin-right: 100px;
    background: linear-gradient(rgb(245, 206, 214),#acbdf1);
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    /* background-color: rgb(201, 232, 245); 
    margin-top: 119px;
    min-width: 300px;
    height: 700px;
    overflow:auto;
    /* margin-right:400px; 
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    box-shadow: 15px 15px rgb(245, 206, 214);
 } */
    
 



/* room css end */



/* CHAT ROOM LIST CSS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  }
  
  li:last-child {
    list-style-type: none;
    border: none;
  }
  
  #chatrooms li a {
    list-style-type: none;
    text-decoration: none;
    color:black;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }
  
  li a:hover {
    font-size: 30px;
  }


  .homeContainer{
      display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    height: 600px;
    align-items: flex-start;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    padding: 100px;
  }
  .leftHome{
      display: flex;
      float:right;
      flex-direction: column;
      margin-top: 70px;
  }
  .rightHome{
      display:flex;
      padding:40px;
    border-style: solid;
    border-radius: 30px;
      justify-content: space-between;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.5);
  }
  #chatrooms{
      overflow: auto;
      width: 300px;
      height: 500px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
  }
  #joinRoom{
    display: flex;
    padding: 20px;
    height: 50px;
    margin-left: auto;
  }

  #homeHeader{
      display:flex;
      margin: 10px;
  }
  #logout {
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: inline-flex;
  align-items: center; 
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-position: right center;
    background: linear-gradient(rgb(243, 190, 200),#b6c5f1);
    font-size: 15px;
}
 
  @media screen and (max-width: 1550px) {
     .hidescroll{
         min-width: 600px;
     }
  }

  @media screen and (max-height: 1550px) {
     .hidescroll{
         min-height: 500px;
     }
  }
