<h1> Home </h1>

<form action="/create" method="post">
    <button type="submit" >Create New Chat Room</button>
</form>

<h2> Join any chatroom below </h2>
<div id="chatrooms">
    <ul>
        {{#each rooms}}
            <li id="chatroom"><a href="/{{{this.name}}}">{{ this.name }}</a></li>
        {{/each}}
    </ul>
</div>

<script>
    //This is the only script for the home page.
    //Performance.getEntriesByType("navigation") returns an array of objects.
    //By accessing the first element's type, [0].type, the browser can check
    //how the page was accessed. For this script, I am checking if the current
    //page was accessed by using history traversal methods (going back/forward a 
    //page in history), and if so, I will refresh the page so I can show you the 
    //current list of chat rooms.
    if( performance.getEntriesByType("navigation")[0].type === "back_forward" ){
        location.reload(true);
    }
</script>