{{!-- By Gary Chen --}}

{{!-- This div contains all messages for the current chatroom --}}
<div class="messages"> 
    {{!-- Using handlebars syntax to display all messages --}}
    {{#each messages}}
        <div class="messageContainer">
            <div class="username">{{userName}}</div>
            <div class="messageDate">&nbsp;{{date}}</div>
        </div>
        <div id="message"> 
            &ensp;
            {{message}} 
        </div>
    {{/each}}
</div>